<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itlm.fernandoalberto.firedragonalerthackaton">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="Fire Alert"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Incendios Forestales">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsuariosActivity"
            android:label="Usuarios" />
        <activity android:name=".DatosActivity" />
        <activity android:name=".Registrar_Usuario" />
        <activity
            android:name=".Que_Hacer_Antes"
            android:label="¿ Qué hacer antes ?"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Activity_Que_Hacer_durante"
            android:label="¿ Qué hacer Durante ?"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Activity_Que_Hacer_Despues"
            android:label="¿ Qué hacer Despues ?"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Activity_Telefonos"
            android:label="Teléfonos de Emergencia"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>